@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
:root {
  text-align: center;
  user-select: none;
  font-family: "Young Serif", serif;
  font-size: 25px;
}
.grid {
  position: absolute;
  bottom: -30%;
  left: 0;
  margin-left: -50%;
  width: 200%;
  height: 100%;
  background-position-y: 0px;
  background-image: repeating-linear-gradient(
      90deg,
      var(--grid-color, black) 0%,
      transparent calc(1px + var(--grid-blur, 0px)),
      transparent var(--grid-size),
      var(--grid-color, black)
        calc(var(--grid-size) + 1px + var(--grid-blur, 0px))
    ),
    repeating-linear-gradient(
      180deg,
      var(--grid-color, black) 0%,
      transparent calc(1px + var(--grid-blur, 0px)),
      transparent var(--grid-size),
      var(--grid-color, black)
        calc(var(--grid-size) + 1px + var(--grid-blur, 0px))
    );
  transform: perspective(50vh) rotateX(60deg) translateZ(10px);
  animation: moving-grid 0.5s infinite linear;
  z-index: -1;
}
@keyframes moving-grid {
  0% {
    transform: perspective(50vh) rotateX(60deg) translateZ(10px)
      translateY(-var(--grid-size));
  }
  100% {
    transform: perspective(50vh) rotateX(60deg) translateZ(10px)
      translateY(var(--grid-size));
  }
}

.mountain {
  position: absolute;
  content: "";
  bottom: 35%;
  left: calc(50% + var(--mountain-offset, 0px));
  border-left: calc(var(--mountain-base) / 2) solid transparent;
  border-bottom: var(--mountain-height, 100px) solid
    var(--mountain-color1, white);
  border-top: 0px solid transparent;
  border-right: calc(var(--mountain-base, 100px) / 2) solid transparent;
  transform-origin: bottom;
  transform: skewX(var(--mountain-tilt, 0deg));
}
.mountain:after {
  content: "";
  border-left: calc(var(--mountain-base) / 2) solid transparent;
  border-bottom: var(--mountain-height, 100px) solid
    var(--mountain-color2, black);
  border-top: 0px solid transparent;
  border-right: calc(var(--mountain-base, 100px) / 2) solid transparent;
  transform: translate(-50%) scale(0.98);
  position: absolute;
  left: 0;
  top: 0;
}
.overlay {
  width: 100%;
  height: 100%;
  z-index: 9999;
  position: absolute;
  left: 0;
  top: 0;
  background-image: repeating-linear-gradient(
    rgba(0, 0, 0, 0.3) 0,
    transparent 1px,
    transparent 2px,
    rgba(0, 0, 0, 0.3) 3px
  );
  pointer-events: none;
}
.background-80s {
  background: linear-gradient(
      to bottom,
      #010310 0,
      #0C1142 24%,
      #45125E 45%,
      #D53567 60%,
      #F0C3D9 65%,
      #0C1142 65%
    )
    fixed;
  /* background-size: 100% var(--background-height, 100vh); */
  background-size: cover;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: var(--background-height, 100vh);
  z-index: -2;
}
.animated-clouds:before {
  filter: url(#filter);
}
.background-80s:before {
  content: "";
  background: linear-gradient(
      to bottom,
      #010310 0,
      #0C1142 24%,
      #45125E 45%,
      #D53567 60%,
      #F0C3D9 65%,
      #0C1142 65%
    )
    fixed;
  width: 100%;
  height: 55%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  opacity: 0.2;
}
/*stars*/
.stars:after {
  transform: translateY(-40%);
  content: " ";
  border-radius: 100%;
  width: 3px;
  height: 4px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  box-shadow: 5vw 15vh 2px white, 1vw 33vh 0px white, 2vw 25vh 2px white,
    10vw 10vh 2px white, 12vw 20vh 0px white, 30vw 15vh 2px white,
    16vw 5vh 2px white, 24vw 10vh 0px white, 32vw 40vh 0px white,
    33vw 35vh 2px white, 12vw 38vh 2px white, 24vw 10vh 0px white,
    33vw 5vh 2px white, 20vw 10vh 0px white, 80vw 10vh 2px white,
    62vw 20vh 0px white, 60vw 15vh 2px white, 70vw 7vh 0px white,
    62vw 50vh 0px white, 65vw 35vh 2px white, 64vw 10vh 0px white,
    85vw 2vh 0px white, 92vw 40vh 0px white, 75vw 35vh 2px white,
    90vw 10vh 0px white;
  opacity: 0.3;
  animation: glitter 2s infinite;
}
@keyframes glitter {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.5;
  }
}
.text {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.explication {
  font-family: "Road Rage";
  font-weight: normal;
  font-size: 40px;
  margin-top: 100px;;
}
.glow {
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 3px #e00808, 0 0 5px #dc2e2e;
  }
  to {
    text-shadow: 0 0 5px #c90f0f, 0 0 7px #d32f2f;
  }
}
.question {
  font-weight: 900;
  font-size: calc(30px + 2vh);
  text-align: center;
  display: inline-block;
  background-image: linear-gradient(
    #2989CC 0%,
    #D3E5EC 50%,
    #592451 51%,
    #B3628D 55%,
    #592451 59%,
    #B3628D 65%,
    #AC86A6 75%,
    #B3628D 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.4);
  position: relative;
}
.question:before {
  content: attr(data-text);
  text-shadow: -1px -1px 1px #2989CC, -2px -2px 1px #2989CC,
    -3px -3px 1px #2989CC, 1px 1px 1px #000, 0px -1px 2px #000,
    -1px -2px 2px #000, 0 0 5px rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  z-index: -1;
}
@media screen and (max-width: 768px) { 
  .question {
    font-size: calc(30px + 1vh); /* Réduction de la taille des questions sur mobile */
  }
}
.road {
  --grid-size: 90px;
  --road-color: #2A025D;
  position: absolute;
  bottom: -30%;
  left: 0;
  margin-left: calc(50% - 200px / 2);
  width: 200px;
  height: 100%;
  background-position-y: 0px;
  background-image: repeating-linear-gradient(
    90deg,
    #A684CB 0%,
    #A684CB 2%,
    var(--road-color, rgba(115, 59, 139, 1)) 2%,
    var(--road-color, rgba(115, 59, 139, 1)) 98%,
    #A684CB 98%
  );
  transform: perspective(50vh) rotateX(60deg);
  z-index: -1;
}
.road:after {
  content: "";
  --grid-size: 90px;
  position: absolute;
  margin-left: calc(50% - 10px / 2);
  width: 10px;
  height: 100%;
  background-position-y: 0px;
  background-image: repeating-linear-gradient(
    0deg,
    #A684CB 0%,
    #A684CB 10%,
    transparent 10%,
    transparent 20%
  );
  animation: moving-grid 0.5s infinite linear;
}

#start{
  color: white;
  text-align: center;
}



#quiz-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#timer {
  font-weight: bold;
  font-size: 30px;
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #fff; /* Fond blanc */
  color: #333; /* Couleur du texte */
  padding: 10px 20px; /* Espacement autour du texte */
  border: 2px solid #ccc; /* Bordure grise claire */
  border-radius: 50%; /* Coins arrondis */
  font-size: 18px; /* Taille du texte */
  font-weight: bold; /* Texte en gras */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre subtile */
}


.buttonquiz {
        margin-top: 50px;
        cursor: pointer;
        display: inline-block;
        padding: 15px 30px;
        font-weight: bolder;
        cursor: pointer;
        font-size: 18px;
        letter-spacing: 1px;
        text-decoration: none;
        color: #7362AE;
        background: rgb(231, 240, 246);
        transition: ease-out 0.5s;
        border: 2px solid #725AC1;
        border-radius: 10px;
        box-shadow: inset 0 0 0 0 #725AC1;
      }
      .buttonquiz:hover {
        color: white;
        box-shadow: inset 0 -100px 0 0 #725AC1;
      }
      .buttonquiz:active {
        transform: scale(0.9);
      }
.option-button {
    width: 40%;
    cursor: pointer;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    font-weight: bolder;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #7362AE;
    background: rgb(231, 240, 246);
    transition: ease-out 0.5s;
    border: 2px solid #725AC1;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #725AC1;
  }
  .option-button:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #725AC1;
  }
.option-button:active {
    transform: scale(0.9);
  }
.option-button:disabled {
    background-color: whitesmoke;
    border: 1px solid darkgray;
    cursor: not-allowed;
    opacity: 0.6;
}

#options-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.button-style{
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    font-weight: bolder;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #7362AE;
    background: rgb(228, 242, 252);
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #725AC1;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #725AC1;
}
.button-style:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #725AC1;
  }
  .button-style:active {
    transform: scale(0.9);
  }
  .button-style:disabled {
    background-color:whitesmoke;
    border: 1px solid darkgray;
    cursor: not-allowed;
    opacity: 0.6;
}

#messageEnd{
  color :white;
text-align: center
}









